
.wrap {
    /* padding-bottom: 50px; */
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgb(255, 255, 255);
}

     /* ----------- 헤더 영역(작업해야 함) ----------- */

#header {
    height: 80px;
    background-color: #088F8F;
    color: #ffc107;

}

#header .inner-header{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    margin: auto 10px;
}

#header .lnr{
    justify-content: left;
    font-size: 23px;
    margin: auto 10px;
    /* padding: 11px; */

}
#header h1 {
    font-size: 30px;
    justify-content: left;
    margin: auto 10px;
    font-family: 'NanumBarunGothicBold';
    /* padding: 10px; */
}





.detail-page {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.custom-img {
    width: 300px;
    height: 350px;
    flex-grow: 1;
    padding-left: 30px;
}

.detail-content {
    flex-grow: 1;
    width: 500px;
}

.detail-content li {
    line-height: 70px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'NanumSquareRound', sans-serif;
}

.book-comment {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    font-family: 'NanumSquareRound', sans-serif;
}



.detail-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
}

.detail-btn li {
    width: 150px;
}

.btn-yellow {
    background: #fdc324;
    color: #333 !important;
    border: 1px solid #fdc324 !important;
    width: 100px;
    height: 40px;
}

.btn-custom {
    font-weight: 700;
    font-size: 20px;
    font-family: 'NanumSquareRound', sans-serif;
}

.bookmarkHead {
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: 'NanumSquareRound', sans-serif;

}

.bookmemoHead {
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    font-family: 'NanumSquareRound', sans-serif;
}

.mkme-head {
    border-bottom: 1px solid #000;
    display: flex;
}

.bookmark-custom {
    background: rgb(229, 229, 229, .5);
    height: 300px;
    /* margin-left: 3%; */
    border-right: 1px solid rgb(208, 208, 208);
    border-left: 1px solid rgb(208, 208, 208);
}

.bookmemo-custom {
    /* width: 50%; */
    background: rgb(229, 229, 229, .5);
    height: 300px;
    border-right: 1px solid rgb(208, 208, 208);
}

.bookmark-container {
    width: 50%;

}

.bookmeme-container {
    width: 50%;
    
}

.bookmemo-custom {
    background: rgb(229, 229, 229, .5);
}

.bookcomment-container {
    display: flex;
    /* margin-bottom: 1000px; */
}

#bookmarkPage-input {
    border: 1px solid rgb(207, 207, 207);
}

#bookmarkContent-input {
    border: 1px solid rgb(207, 207, 207);
}

#bookmark-insert-form {
    position: relative;
}


#bookmark-reg-btn {
    position: absolute;
    right: 20px;
    border: 1px solid rgba(000, 000, 000, 0);
    /* background: rgb(255, 255, 93); */
    border-radius: 20%;
}

#bookmemoContent-input {
    border: 1px solid rgb(207, 207, 207);
}

#bookmemo-insert-form {
    position: relative;
}

#bookmemo-reg-btn {
    position: absolute;
    right: 20px;
    bottom: -40px;
    border: 1px solid rgba(000, 000, 000, 0);
    /* background: rgb(255, 255, 93); */
    border-radius: 20%;
}

.bookmark-list-wrap {
    position: relative;
    border: 1px solid rgb(180, 180, 180, .5);
    padding: 30px;
    /* height: 300px; */
    margin-right: 25px;
    background: rgb(255, 249, 213);
}
.bookmark-btn-event {
    position: absolute;
    top: 17px;
    right: 23px;
    border: 1px solid rgba(000, 000, 000, 0.2);
    background: rgba(000, 000, 000, 000);
    color: #000;
}
.hide {
    display: none;
}

.bookmemo-list-wrap {
    position: relative;
    border: 1px solid rgb(180, 180, 180, .5);
    padding: 30px;
    /* height: 300px; */
    margin-right: 25px;
    background: rgb(255, 249, 213);
}

.memo-btn-custom {
    position: absolute;
    top: 17px;
    right: 23px;
    border: 1px solid rgba(000, 000, 000, 0.2);
    background: rgba(000, 000, 000, 000);
    color: #000;
}



/* footer  */

#footer{
    height: 50px;
    padding: 20px;
    background: rgb(207, 207, 207);
    position: relative;
} 


#footer h3 {
    color: #999;
    font-size: 10px;
    text-align: center;

}