     /* reset */
     a {
         color: inherit !important;
         text-decoration: none !important;
         cursor: pointer;
     }

     button,
     input {
         border: none;
         background-color: inherit;
     }

     /* common style */
     .hide {
         display: none !important;
     }

     body {
      background-color: #eee !important;
      color: inherit !important;
      font-size: 18px !important;
      font-family: 'NanumSquareRound', sans-serif;
      }

      div #page{
         padding: 50px !important;
      }

     #wrap {
         background-color: #f8f9fa;
         width: 70%;
         height: 100vh;
         margin: 40px auto;
         border: 1px solid #f8f9fa;
         display: flex;
         flex-flow: column;
     }


     /* ----------- 헤더 영역(작업해야 함) ----------- */
     #header {
        height: 80px;
        background-color: #088F8F;
        color: #ffc107;
        font-family: 'NanumBarunGothicBold';

     }

     #header .inner-header{
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      margin: auto 10px;
     }

     #header .lnr{
      justify-content: left;
      font-size: 23px;
      margin: auto 10px;
      /* padding: 11px; */

     }
     #header h1 {
      font-size: 30px;
      justify-content: left;
      margin: auto 10px;
      /* padding: 10px; */
     }


     /* ----------- 책 목록 영역 ----------- */

     #book-wrap ul{
        margin-top: 30px;

     }

     #book-wrap .list-head {
        color: #088F8F;
        line-height: 1;
        font-family: 'NanumBarunGothicBold';
        padding-top: 20px;
        box-sizing: border-box;
     }
     
         /* list-left */
     #book-wrap .img-book {
         width: 85px;
         height: 110px;
         margin-bottom: 3px;
         border-radius: 0.25rem;
         overflow: hidden;

         background: no-repeat center cover fixed;
         background-position: center;
         background-size: cover;
         background-color: #088F8F;
        }

      #book-wrap .importance{
         cursor: pointer;
      }


        /* list-center */
     #book-wrap .title{
        margin-bottom: 3px;
     }

     #book-wrap .writer {
        margin-bottom: 5px;
         color: #6c757d !important;
         font-size: 0.9em;
     }

     #book-wrap .star-rate{
        color: #088F8F;
     }

     #book-wrap .page {
         color: #6c757d !important;
         font-size: 0.9em;
     }

     #book-wrap .comment{
      color: #6c757d;
     }

         /* list-right */
     #book-wrap .list-right{
        width: 100px;
        text-align: right;
     }


     /* footer  */

     footer{
      height: 30px;
      padding: 30px;

      /* background: #c4c4c4; */
     }
     footer h3 {
      color: #999;
      font-size: 10px;
      text-align: center;
     }



