     /* reset */
     a {
         color: inheritblu !important;
         text-decoration: none !important;
         cursor: pointer;
     }

     button,
     input {
         border: none;
         background-color: inherit;
     }

     /* common style */
     .hide {
         display: none !important;
     }

     #wrap {
         background-color: #f8f9fa;
         width: 70%;
         height: 100vh;
         margin: auto;
         border: 1px solid #f8f9fa;
         display: flex;
         flex-flow: column;
     }


     /* ----------- 헤더 영역(작업해야 함) ----------- */
     #header {
        height: 150px;
        background-color: #088F8F;
        color: #ffc107;
        font-family: 'NanumBarunGothicBold';
     }

     #header .inner-header{
      padding: 20px;
      box-sizing: border-box;
      
     }


     /* ----------- 책 목록 영역 ----------- */

     #book-wrap ul{
        margin-top: 30px;

     }

     #book-wrap .list-head {
        color: #088F8F;
        line-height: 1;
        font-family: 'NanumBarunGothicBold';
        padding-top: 20px;
        box-sizing: border-box;
     }
     
     #book-wrap .img-book {
         width: 85px;
         height: 110px;
         margin-bottom: 3px;

         background-color: #088F8F;
        }

     #book-wrap .title{
        margin-bottom: 3px;
     }

     #book-wrap .writer {
        margin-bottom: 5px;
         color: #6c757d !important;
         font-size: 0.9em;
     }

     #book-wrap .star-rate{
        color: #088F8F;
     }

     #book-wrap .page {
         color: #6c757d !important;
         font-size: 0.9em;
     }

     #book-wrap .comment{
      color: #6c757d;
     }

     #book-wrap .list-right{
        width: 100px;
        text-align: right;
     }



