<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper태그는 sql을 매핑할때 사용하는 태그
     namespace속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
  -->
<mapper namespace="com.project.mybooks.book.repository.BookMapper">

    <!-- 게시글 등록 SQL 작성 :  id속성에는 추상메서드 이름  -->
    <insert id="save">
        INSERT INTO prj_book
        (book_no, platform_id, book_title, writer, star_rate, book_comment)
        VALUES (TO_CHAR(SYSDATE, 'YYMMDD') || LPAD(seq_prj_book.nextval, 4, '0')
                , #{platformId}, #{bookTitle}, #{writer}, #{starRate}, #{bookComment}
                )
    </insert>

    <!-- 게시글 정보 삭제 -->
    <delete id="remove">
        DELETE FROM prj_book
        WHERE book_no = #{bookNo}
    </delete>
a
    <!--  게시글 정보 수정  -->
    <update id="modify">
        UPDATE prj_book
        SET
            platform_id = #{platformId}
          , book_title = #{bookTitle}
          , writer = #{writer}
          , star_rate = #{starRate}
          , book_comment = #{bookComment}
          , cur_page = #{curPage}
          , total_page = #{totalPage}
          , the_end = #{theEnd}
        WHERE book_no = #{bookNo}
    </update>

    <!--
        단일 컬럼이면 resultType 속성으로 데이터 타입 명시
            <select id="findAll" resultType="int">
                SELECT price FROM tbl_product
                ORDER BY price DESC
            </select>

        다중 컬럼 조회 시에는 resultMap 속성으로 데이터를 개체 처리
    -->
    <!--
        reultMap 설정  :  DB 컬럼과 자바 클래스 필드명의 차이를 지정
             DB 컬럼과 필드명이 완벽히 일치하면 설정하지 않아도 되지만
             자바에 스네이크 케이스를 쓰면 스프링에서 처리하다 오류가 날 수 있고
             DB에 캐멀 케이스를 쓰면 대소문자 구분이 되지 않기 때문에 ResultMap 설정을 해야 한다
                    모든 셀렉트에서 이 설정을 사용할 수 있다
    -->
    <resultMap id="bookMap" type="com.project.mybooks.book.domain.Book">
        <!--   property 속성에는 자바 필드명, column에는 Db 컬럼명    -->
        <result property="userId" column="user_id"/>
        <result property="bookNo" column="book_no"/>
        <result property="platformId" column="platform_id"/>
        <result property="bookTitle" column="book_title"/>
        <result property="starRate" column="star_rate"/>
        <result property="bookComment" column="book_comment"/>
        <result property="curPage" column="cur_page"/>
        <result property="totalPage" column="total_page"/>
        <result property="theEnd" column="the_end"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>

    <resultMap id="bookPlatMap" type="com.project.mybooks.book.domain.BookPlatform">
        <!--   property 속성에는 자바 필드명, column에는 Db 컬럼명    -->
        <result property="userId" column="user_id"/>
        <result property="bookNo" column="book_no"/>
        <result property="platformId" column="platform_id"/>
        <result property="platformName" column="platform_name"/>
        <result property="bookTitle" column="book_title"/>
        <result property="starRate" column="star_rate"/>
        <result property="bookComment" column="book_comment"/>
        <result property="curPage" column="cur_page"/>
        <result property="totalPage" column="total_page"/>
        <result property="theEnd" column="the_end"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>




    <select id="findAll" resultMap="bookPlatMap">
        SELECT
            user_id, importance
            , book_no, a. platform_id, b.platform_name
            , book_title, writer, star_rate, book_comment
            , cur_page, total_page, the_end, reg_date
        FROM prj_book A
        LEFT OUTER JOIN prj_platform B
        ON a.platform_id = b.platform_id
    </select>
<!--
    <select id="findAll2" resultMap="boardMap">
        SELECT  *
        FROM (
        SELECT ROWNUM rn, v_board.*
        FROM (
        SELECT *
        FROM tbl_board
        <if test="type == 'title'">WHERE title LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'writer'">WHERE writer LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'content'">WHERE content LIKE '%' || #{keyword} || '%'</if>
        <if test="type == 'tc'">
            WHERE title LIKE '%' || #{keyword} || '%'
            OR content LIKE '%' || #{keyword} || '%'
        </if>
        ORDER BY board_no DESC
        ) v_board
        )
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
    </select>-->

    <select id="findOne" resultMap="bookPlatMap">
        SELECT
            user_id, importance
            , book_no, a. platform_id, b.platform_name
            , book_title, writer, star_rate, book_comment
            , cur_page, total_page, the_end, reg_date
        FROM prj_book A
        LEFT OUTER JOIN prj_platform B
        ON a.platform_id = b.platform_id
        WHERE book_no = #{bookNo}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM prj_book
    </select>



</mapper>